# Key Value
# Dictonary
- how to declare it
- how to access key and values of a dictionary
- how to use loops in dictionary

In [10]:
student = {
    "name" : "Ayushi",
    "class" : "10th",
    "roll" : 20,
    "age" : 20
}
print(student)

{'name': 'Ayushi', 'class': '10th', 'roll': 20, 'age': 20}

In [11]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'chennai' : [22,23,24]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [22, 23, 24]}

In [12]:
info = dict(name = 'riya',age = 27,dept = 'hr',salary = 30000)
print(info)

{'name': 'riya', 'age': 27, 'dept': 'hr', 'salary': 30000}

In [18]:
student = {
    "name" : "Ayushi",
    "class" : "10th",
    "roll" : 20,
    "age" : 20
}
print(student)

{'name': 'Ayushi', 'class': '10th', 'roll': 20, 'age': 20}

In [19]:
#1st method
print(student['name'])
print(student['roll'])

Ayushi
20

In [17]:
#2nd Method
print(student.get('name'))
print(student.get('age'))

Ayushi
20

In [22]:
#to add items in dictionary
student['school'] = 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'Ayushi', 'class': '10th', 'roll': 20, 'age': 20, 'school': 'DPS', 'city': 'Lucknow'}

In [23]:
for x in student:
    print(x)

name
class
roll
age
school
city

In [26]:
for k,v in student.items():
    print(f'{k} : {v}')

name : Ayushi
class : 10th
roll : 20
age : 20
school : DPS
city : Lucknow

In [29]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll', 'age', 'school', 'city'])
dict_values(['Ayushi', '10th', 20, 20, 'DPS', 'Lucknow'])
dict_items([('name', 'Ayushi'), ('class', '10th'), ('roll', 20), ('age', 20), ('school', 'DPS'), ('city', 'Lucknow')])

In [35]:
#nested dictionary
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 27,
        'dept' : 'HR',
        'salary' : 30000
    },
    'emp002' : {
        'name' : 'Mike',
        'age' : 32,
        'dept' : 'IT',
        'salary' : 40000
    },
    'emp003' : {
        'name' : 'Steve',
        'age' : 35,
        'dept' : 'Finance',
        'salary' : 50000
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Mike', 'age': 32, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Steve', 'age': 35, 'dept': 'Finance', 'salary': 50000}}

In [37]:
from pprint import pp

In [38]:
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Mike', 'age': 32, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Steve', 'age': 35, 'dept': 'Finance', 'salary': 50000}}

In [39]:
print(company['emp001']['dept'])

HR

In [40]:
company ['emp004'] = {
    'name' :'Sam',
    'age' : '25',
    'dept' : 'Admin',
    'salary' : 25000
}
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Mike', 'age': 32, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Steve', 'age': 35, 'dept': 'Finance', 'salary': 50000},
 'emp004': {'name': 'Sam', 'age': '25', 'dept': 'Admin', 'salary': 25000}}

In [43]:
print(temp['lucknow'][1])
print(temp['delhi'][2])
print(temp['chennai'][0])

30
40
22

In [52]:
print('Average temperature in Delhi : ',sum(temp['delhi'])/len(temp['delhi']))
#k = sum(temp['delhi'])
#print(k/len(temp['delhi']))

Average temperature in Delhi :  35.0

Alex
-> English 85
-> Math 90
-> Science 78
-> Total Marks 253
Rahul
->English 80
-> Math 85
-> Science 90
-> Total Marks 255

In [55]:
reports = {
    'Alex' : {
        'English' : 85,
        'Math'  : 90,
        'Science' : 78
    },
    'Rahul' : {
        'English' : 80,
        'Maths' : 85,
        'Science' : 90
    },
}
print(reports)

{'Alex': {'English': 85, 'Math': 90, 'Science': 78}, 'Rahul': {'English': 80, 'Maths': 85, 'Science': 90}}

In [56]:
for student,marks in reports.items():
    print(student)
    for subject,mark in marks.items():
        print('->',subject,mark)
    print('-> Total Marks : ', sum(marks.values()))

Alex
-> English 85
-> Math 90
-> Science 78
-> Total Marks :  253
Rahul
-> English 80
-> Maths 85
-> Science 90
-> Total Marks :  255