#For

- for - keyword
- range - function(ends at n-1)
- i - pointer

In [46]:
fruits = ['apple', 'mango' , 'banana' , 'orange', 'kiwi', 'grapes','papaya'] #list
for x in fruits:
    print(x)

apple
mango
banana
orange
kiwi
grapes
papaya

In [47]:
a = "Hello World"
for x in a:
    print(x, end = "")
    #print(x, end = "üòç")

Hello World

In [48]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [49]:
for i in range(5):
    print('Ayushiü•±')

Ayushiü•±
Ayushiü•±
Ayushiü•±
Ayushiü•±
Ayushiü•±

In [50]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [51]:
for i in range(0,31,2):
    print(i,end =" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [52]:
for i in range(0,31):
    if(i % 2 != 0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

#while
- don't prefer to use in list and strings
- senseless

In [53]:
i = 0
while i <= 20:
    print(i, end = " ")
    i += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [2]:
i = 0
while(i <= 5):
    print("I can do it")
    i += 1

I can do it
I can do it
I can do it
I can do it
I can do it
I can do it

In [9]:
a = 15
x = 1
while x <= 10:
    print(f'{a} * {x} = {a*x}')
    x+=1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [5]:
a = 15
for i in range(1,11):
    print(f'{a} * {i} = {a*i}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [1]:
for i in range(1,11):
    print(f'15 * {i} = {15*i}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

# Break
- stops loop after condition is met
# Contiune
- skips the loop where the condition is met, and then contiues the loop

In [2]:
a = [2,4,6,8,12,14,16,17,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
12
14
16

In [3]:
a = [2,4,6,8,12,14,16,17,18,20]
for i in a:
    if i == 17:
        continue
    print(i)

2
4
6
8
12
14
16
18
20

In [9]:
name = 'Ayushi'
for i in name:
    if i == 's':
        break
    print(i, end =" ")

A y u

In [12]:
name = 'Ayushi'
for i in name:
    if i == 's':
        continue
    print(i, end =" ")

A y u h i

In [11]:
a = [10,30,65,29]
total = 0
for i in a:
    total += i
print(total)

134

In [13]:
names = ['Ayushi','Ananya','Areeba','Vaibhav']
for i in names:
    print(i)

Ayushi
Ananya
Areeba
Vaibhav

In [14]:
for i, v in enumerate(names):
    print(f'{i}.{v}')               #v mein names store ho rahe

0.Ayushi
1.Ananya
2.Areeba
3.Vaibhav

In [17]:
items = ['pen','pencil','eraser','sharpner','scale','book','bag','bottle','lunchbox','tiffin']
for i, v in enumerate(items):
    if i == 8:
        break
    print(f'{i}.{v}')

0.pen
1.pencil
2.eraser
3.sharpner
4.scale
5.book
6.bag
7.bottle